*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    background-size: cover;
    background-position: center;
}
.menu-bar{
    background: rgb(0, 221, 255);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: blue;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 10px;
}